modules = ["nodejs-20", "web"]
run = "npm run dev -- --host --port 5000 --strictPort"

[nix]
channel = "stable-25_05"
packages = ["psmisc"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run   = ["npm", "run", "start"]
publicDir = "dist"

[[ports]]
localPort = 5000
externalPort = 5000
